extends layout

block content
  h1 Jamsheer Aslam Shaik

    - var image_names = ['phone-1.jpg', 'phone-2.jpg', 'phone-3.jpg', 'phone-4.jpg', 'phone-5.jpg']

  - for (let i = 0; i < 3; i++) {
    - var randomIndex = Math.floor(Math.random() * 5);
    - let imagename = image_names[randomIndex];
    img(src="/images/"+imagename, alt=`Image ${randomIndex + 1}`, height='100', width='100')
  -}