extends layout

block content
  h1= title
  p Welcome to  Shaik Jamsheer Aslam #{title} page 
  if !user
    a(href="/login") Login
    br
    a(href="/register") Register
  if user
    p You are currently logged in as #{user.username}
    a(href="/phone") Take me to phone
    br
    a(href="/logout") Logout