extends layout

block content
  h1 Jamsheer Aslam Shaik

  .container-fluid
    .row
      -
    each item in results
        .col-sm-2
            h3 Phone 
            p #{item.phone_name}, #{item.phone_color},#{item.phone_cost}
            

  

  script.
     function buy(index) {
      alert(`You purchased item ${index+1}`);
     }

  