extends layout
block content
  h1= title
  form(id='phoneForm', action="/resource/phone", method="POST")
    div.form-group
      label.phoneAttr(for='phone_color') phone_color
      input#phone_color(type='text', name='phone_color')
    div.form-group
      label.phoneAttr(for='phone_name')  phone_name
      input#phone_name(type='text', name='phone_name')
    div.form-group
      label.phoneAttr(for='phone_cost')  phone_cost
      input#phone_cost(type='number', name='phone_cost')
    input(type="submit")
  script.
    document.forms['phoneForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error);
      });
    });
